.form__group--checkbox {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 1.6rem;
    align-items: center;
}

.form__checkbox {
    appearance: none;
    width: 1.8rem;
    height: 1.8rem;
    border: 0.2rem solid var(--almost-white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all 0.3s ease-out;
}

.form__checkbox:hover {
    border-color: var(--neon-green);
    cursor: pointer;
}

.form__checkbox:focus {
    border-color: var(--neon-green);
    outline: 0.2rem solid var(--almost-white);
}

.form__checkbox:checked {
    background-image: url('../assets/images/icon-check.svg');
    background-color: var(--neon-green);
    border-color: var(--neon-green);
}

.form__label--checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}