@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --red: hsl(0, 91%, 63%);
    --orange: hsl(13, 95%, 66%);
    --yellow: hsl(42, 91%, 68%);
    --neon-green: hsl(127, 100%, 82%);
    --almost-white: hsl(252, 11%, 91%);
    --grey: hsl(251, 9%, 53%);
    --dark-grey: hsl(248, 10%, 15%);
    --very-dark-grey: hsl(248, 15%, 11%);

    font-size: 62.5%;    
    font-family: 'JetBrains Mono', monospace;
    font-optical-sizing: auto;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}