.form__password-strength {
    margin-top: 3.2rem;
    padding: 1.4rem 1.6rem;
    background-color: var(--very-dark-grey);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.password-strength__label {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0rem;
    color: var(--grey);
}

.password-strength__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;
}

.password-strength__status-wrapper {
    overflow: hidden;
    position: relative;
    width: 9.72rem;
    height: 2.8rem;
}

.password-strength__status {
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(100%);
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0rem;
    color: var(--almost-white);
    transition: all 0.3s ease-out;
}

.password-strength__status--visible {
    transform: translateY(-100%);
}

.password-strength__bars {
    display: grid;
    grid-template-columns: repeat(4, 1rem);
    grid-template-rows: 2.8rem;
    gap: 0.8rem;
}

.password-strength__column {
    border: 0.2rem solid var(--almost-white);
    transition: all 0.3s ease-out;
}

.password-strength__column--orange {
    border-color: var(--orange);
    background-color: var(--orange);
}

.password-strength__column--red {
    border-color: var(--red);
    background-color: var(--red);
}

.password-strength__column--neon-green {
    border-color: var(--neon-green);
    background-color: var(--neon-green);
}

.password-strength__column--yellow {
    border-color: var(--yellow);
    background-color: var(--yellow);
}