@import "./styles/config.css";
@import "./styles/steper.css";
@import "./styles/checkbox.css";
@import "./styles/buttons.css";
@import "./styles/output.css";
@import "./styles/password-indicator.css";

.screen {
    background-color: var(--very-dark-grey);
    min-height: 100vh;
    padding: 0 1.6rem;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}

.header__title {
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0rem;
    color: var(--grey);
    text-align: center;
}

.form {
    padding: 1.6rem;
    background-color: var(--dark-grey);
}

.form__label {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0rem;
    color: var(--almost-white);
    transition: all 0.3s ease-out;
}

/* tablet-breakpoint */
@media (min-width: 34.375rem) {
    .screen {
        grid-template-columns: repeat(12, 6.5rem);
        gap: 3rem;
        justify-content: center;
    }

    .main {
        grid-column: 4 / 10;
    }

    .form__label {
        font-size: 1.8rem;
    }
}
